* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Quicksand', sans-serif;
    background-color: #f8fafc;
    color: #333;
    line-height: 1.6;
  }
  
  
  .main-header {
    background-color: #b91c1c;
    color: white;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .main-nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  .main-nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
  }
  
  .main-nav a:hover {
    text-decoration: underline;
  }
  
 
  .container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
  
  
  .hero-section {
    position: relative;
    height: 80vh;
    background-image: url('images/fondoFruit.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    margin-bottom: 2rem;
    overflow: hidden;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece para que el texto se lea mejor */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .hero-content {
    color: #fff;
    max-width: 800px;
    text-align: center;
    padding: 1.5rem;
  }
  
  .hero-content h2 {
    font-size: 2.5rem;
    color: #facc15; 
    margin-bottom: 1rem;
  }
  
  .hero-content p {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  
 
  .cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
  }
  
  .card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 1.5rem;
    text-align: center;
  }
  
  .card-title {
    color: #22c55e;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .card img {
    width: 100%;
    margin-top: 1rem;
    border-radius: 10px;
  }

  /*Área de actuación + TiendasColaboradoras*/

  main {
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    
}
main .content{
    width: 750px; 
    height: 200px; 
    border: 1px solid rgba(201, 196, 196, 0.4) ; 
    padding: 10px; 
    margin: 20px; 
    border-radius: 30px;
    box-shadow: 3px 3px 3px 3px whitesmoke;
}

main h1 {
    font-size: 1.7rem;
    color: var(--black-text);
    text-align: center;
    margin: 1rem;
    
}

main p {
    color: var(--black-text);
    text-align: center;
    margin: 1rem 0;
}

main form {
    display: flex;
    justify-content: center;
}



.Logos h1 {
    padding-top: 2rem;
    font-size: 1.7rem;
    color: var(--black-text);
    text-align: center;
    margin: 1rem;
    font-family: "Quicksand", sans-serif;
}
.Logos li img{
    padding-top: 5rem;
    display: block; 
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
}

.btn {
  display: inline-block;
  background-color: #22c55e;
  color: white;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  margin:1%;
}
.btn:hover {
  background-color: #16a34a;
}

  
  /* Footer */
  footer {
    text-align: center;
    padding: 1rem;
    margin-top: 3rem;
    background-color: #b91c1c;
    color: white;
  }

/* CONTACTO */

.titulo{
  padding: 3rem;
  padding-bottom: 0rem;
  color: rgb(30, 170, 30);
  text-align: center;
  font-size: 35px;
  margin-bottom: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.form_contemido {
  max-width: 800px;
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
  background-image: url('/images/frutasfondo.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
  background-color: #76da9b;
  color: white;
}

.form_contemido h2 {
  color: white;
  margin-bottom: 1.5rem;
  text-align: center;
}

form label {
  display: block;
  margin-top: 1rem;
  color: var(--text-color);
}

form input[type="text"] {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 1rem;
}

form input[type="email"] {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 1rem;
}

form textarea {
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  font-size: 1rem;
}

.checkbox {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.checkbox input {
  margin-right: 0.5rem;
}

button {
  margin-top: 1.5rem;
  padding: 1rem;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.enviar {
  background-color: rgb(145, 139, 139);
}

.enviar:hover {
  background-color: rgb(46, 46, 158);
}

.cancelar {
  background-color: rgb(145, 139, 139);
}

.cancelar:hover {
  background-color: rgb(155, 50, 50);
}

.infotext {
  margin-top: 1.5rem;
  font-size: 0.9rem;
  color: white;
  line-height: 1.4;
}
